
<div class="hero-section">
    <div class="hero-left">
        <h1>Discover Services at Your Fingertips</h1>
        <p>Log in to explore a range of services and order with ease from trusted providers.</p>
        <div class="hero-buttons">
            <button class="sign-up"  routerLink="/register_client">Register</button>
            <button class="log-in" routerLink="/login">Log In</button>
        </div>
    </div>
    <div class="hero-right">
        <img src="/assets/userRegister.svg" alt="Pricing Plans">
    </div>
</div>

<div class="hero-section2">
    <div class="hero2-right">
        <h1>Boost Your Business by Showcasing Your Services</h1>
        <p>Log in to add and manage your services, reaching more customers and growing your business.</p>
        <div class="hero2-buttons">
            <button class="sign-up" routerLink="/register_company">Register</button>
            <button class="log-in" routerLink="/login">Log In</button>
        </div>
    </div>
    <div class="hero2-left">
        <img src="/assets/businessRegister.svg" alt="Business Growth">
    </div>
</div>