* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.hero-section {
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #06BEE1;
    padding: 50px;
    max-width: 1200px;
    height: 600px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
}

.hero-section2 {
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #06BEE1;
    padding: 50px;
    max-width: 1200px;
    height: 700px;
    flex-direction: row-reverse; 
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
}


.hero-left {
    max-width: 50%;
}
.hero2-right{
    max-width: 50%;
    justify-content: flex-end;  
    text-align: right;          
}

.hero-left h1,
.hero2-right h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.hero-left p,
.hero2-right p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}
.hero2-buttons{
    display: flex;
    justify-content: flex-end; 
    gap: 20px;  
}

button {
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
     transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
}
.sign-up {
    background-color: #2541B2;
    color: white;
    font-size: 1.2rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.log-in {
    background-color: #06BEE1;
    color: #2541B2;
    border: 2px solid #2541B2;
    font-size: 1.2rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.hero-right img,
.hero2-left img {
    width: 600px;
    height: auto;
}