 
<div class="container">
    <div class="image-section">
        <div class="image-box">
            <label for="">Enter Your Service Image</label>
            <label for="upload_profile_image" class="upload-label" *ngIf="selectedFile">
                <img class="profile" [src]="imagePreview" alt="profile" />
            </label>
            <input type="file" nz-button nzType="primary" accept="image/x-png,image/gif,image/jpeg"
            (change)="onFileSelected($event)" />
            <button nz-button nzShape="circle"></button>
        </div>
    </div>
    <div class="form-section">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="postAd()">
            <label for="service-name">Your Service Name:</label>
            <input type="text" id="service-name" placeholder="Enter service name" formControlName="serviceName">

            <label for="service-desc">Describe Your Service:</label>
            <textarea id="service-desc" placeholder="Describe your service" formControlName="description"></textarea>

            <label for="service-price">Add Your Price:</label>
            <input type="number" id="service-price" placeholder="Enter price" formControlName="price">

            <button nz-button class="add-service-btn" [nzType]="'primary'">Add Service</button>
        </form>
    </div>
</div> 

