.container {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #06BEE1;
    padding: 50px;
    max-width: 1200px;
    height: 400px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
    gap: 20px;
}

/* Form Section */
.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;  /* Ensures the button is positioned relative to this container */
}

form label {
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

form input,
form textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

form textarea {
    resize: none;
    height: 80px;
}

.add-service-btn {
    display: flex;
    justify-content: center; /* Align text horizontally in the center */
    align-items: center; /* Align text vertically in the center */
    background-color: #2541B2;
    font-size: 1.2rem;
    padding: 10px 50px; /* Adjust padding to make it look balanced */
    border: none;
    cursor: pointer;
    right: -340px;
    bottom: -10px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: transform 0.3s ease-in-out;
    color: white;
}

.add-service-btn:hover {
    background-color: #2541B2;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 10);
    transition: transform 0.3s ease-in-out;
}

/* Image Section */
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    background-color: white;
    width: 80%; /* Adjust width for responsive design */
    height: 200px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.image-box input[type="file"] {
    margin-top: 10px;
    display: block;
    padding: 10px;
}

.image-box .profile {
   max-height: 100%; /* Ensure it stretches to the container's height */
    width: 100%; /* Ensure it stretches to the container's width */
    object-fit: contain; /* Ensures the image fits inside the container */
    border-radius: 8px;
}

.image-box button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #06BEE1;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.image-box button:hover {
    background-color: #05A9C6;
}