.ad-detail {
    display: flex;
    align-items: center;
    background-color: #06BEE1;
    /* White background for the card */
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    /* Subtle shadow for depth */
    padding: 30px;
    /* Spacing inside the card */
    margin: 20px auto;
    /* Center alignment with margin */
    max-width: 75%;
    /* Maximum width for responsiveness */
}

.profile {
    height: 300px;
    /* Fixed height */
    width: 400px;
    /* Fixed width */
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
    object-fit: cover;
    /* Prevent distortion */
    margin-right: 50px;
    /* Spacing between image and text */
}

.service-detail {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.service-detail h2 {
    font-size: 50px;
    color: white;
    /* Blue color for clickable heading */
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 8px;
}

.service-detail p {
    font-size: 20px;
    font-weight: 600;
}

.book-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #06BEE1;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    padding: 20px;
    margin: 40px auto;
    max-width: 75%;
}

.book-service h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.book-service form {
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin-left: 200px;
}
#bookDate {
    width: 300px;
    height: 40px;
    border: solid 5px #2541B2;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    margin-right: 20px;

    &:hover {
        box-shadow: 0cap 0px 0px rgba(0, 0, 0, 10);
        transition: box-shadow 0.3s ease-in-out;
    }
}

.book-service button {
    height: 40px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
    &.invalid-button{
        background-color: #06BEE1;
        color: white;
        box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    }
    &.valid-button{
        background-color: #2541B2;;
        color: white;
        box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
        &:hover{
            box-shadow: 0cap 0px 0px rgba(0, 0, 0, 10);
            transition: box-shadow 0.3s ease-in-out;
        }
    }
}
.nz-form-item {
    margin-bottom: 10px;
}


/* Review card styling */

.reviews-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #06BEE1;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    padding: 10px;
    margin: 40px auto;
    max-width: 75%;
}


.review-card {
    padding: 30px;
    flex: 1 1 calc(33.333% - 20px);
    max-width: 350px;
    margin: 10px;
}

.review-card nz-card{
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 20px);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-card p {
    margin: 8px 0;
    font-size: 14px;
    color: #555;
}