<div class="bg" *ngIf="ad">
    <div class="ad-details-container">
        <div class="ad-detail">
            <div>
                <img class="profile" [src]="avatarUrl" alt="profile" />
            </div>
            <div class="service-detail">
                <h2>{{ ad.serviceName }}</h2>
                <p><b>Company Name :</b>{{ ad.companyName }}</p>
                <p>{{ad.description}}</p>
                <p><b>Price: </b>{{ad.price}}</p>
            </div>
        </div>

        <div class="book-service">
            <h2>Book Service</h2>
            <form nz-form [formGroup]="validateForm">
                <nz-date-picker formControlName="bookDate" name="bookDate" id="bookDate"></nz-date-picker>
                <!-- <button nz-button [nzType]="'primary'" [disabled]="validateForm.invalid" (click)="bookService()">Book</button> -->
                <button nz-button [disabled]="validateForm.invalid" (click)="bookService()"
                    [ngClass]="{'invalid-button':validateForm.invalid,'valid-button':validateForm.valid}">Book Now</button>
            </form>
        </div>

        <div class="reviews-container">

            <div class="review-card" *ngFor="let review of reviews">
                <nz-card [nzBordered]="false" nzTitle="{{ review.clientName }}">
                    <p>Review: <strong>{{ review.review }}</strong></p>
                    <p>Rating: <nz-rate disabled [ngModel]="review.rating"></nz-rate></p>
                    <p>Posted on: <strong>{{ review.reviewDate | date: 'dd/MM/yyyy' }}</strong></p>
                </nz-card>
            </div>
        </div>

    </div>
</div>