<h1>Register As Customer</h1>
<div class="container">
    <div class="right">

        <img src="assets/signup.svg" alt="Register Img">

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <div class="box">
                <div class="input-row">
                    <div class="input">
                        <label for="email">Email:</label>
                        <input type="email" id="email" formControlName="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input">
                        <label for="moNo">Mobile Number:</label>
                        <input type="number" id="moNo" formControlName="phone" placeholder="Mobile Number" required>
                    </div>

                </div>
                <div class="input-row">
                    <div class="input">
                        <label for="password">Password:</label>
                        <input type="password" id="password" formControlName="password" placeholder="Enter Your Password"
                            required>
                    </div>
                    <div class="input">
                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" formControlName="checkPassword"
                        placeholder="Confirm Your Password" required>
                    </div>

                </div>
                <div class="input-row">
                    <div class="input">
                        <label for="name">First Name:</label>
                        <input type="text" id="name" formControlName="name" placeholder="First Name" required>
                    </div>
                    <div class="input">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" formControlName="lastname" placeholder="Last Name" required>
                    </div>
                </div>
            </div>
            <div class="downBox">
                <p>Already Have Account? <a routerLink="/login">Create Account</a></p>
                <button nz-button [nzType]="'primary'">Register</button>
            </div>
        </form>
    </div>

</div>