<nz-table #basicTable [nzData]="booking" [nzPageSize]="20" [nzShowPagination]="'false'">
    <div class="container">
        <div class="entry" *ngFor="let booking of basicTable.data">
            <div class="entry-header">
                <div class="service-name">{{ booking.serviceName }}</div>
                <div class="status">
                    <span [ngClass]="getStatusClass(booking.reservationStatus)">
                        {{ booking.reservationStatus }}
                    </span>
                </div>
            </div>
            <div class="entry-body">
                <div class="client-name">{{ booking.userName }}</div>
                <div class="date-time">
                    <span>{{ booking.bookDate | date: 'dd MMM' }}</span>
                </div>

                <!-- Display buttons only if status is 'PENDING' -->
                <div class="actions" *ngIf="booking.reservationStatus === 'PENDING'">
                    <button nzSize="small" nz-button nzType="primary"
                        (click)="changeBookingStatus(booking.id, 'Approve')">
                        Accept
                    </button>
                    <button nzSize="small" nz-button nzType="primary" nzDanger
                        (click)="changeBookingStatus(booking.id, 'Reject')">
                        Decline
                    </button>
                </div>
            </div>
        </div>
    </div>
</nz-table>