<div class="container">
<div class="left">
    <img src="/assets/login.svg" alt="Login Img">
</div>

<div class="right">
    <div class="topBox">
        <h1>Sign-In</h1>
    </div>

    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div class="box">
            <div class="input">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your email!">
                            <label for="email">Email:</label>
                            <input type="text" id="email" nz-input formControlName="userName" placeholder="Enter Your Email" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="input">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your Password!">
                            <label for="password">Password:</label>
                            <input type="password" id="password" nz-input formControlName="password" placeholder="Enter Your Password" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="downBox">
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
            <p>Don't have an account? <a routerLink="/register">Create Account</a></p>
        </div>
    </form>
</div>
</div>
