
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 100vh; 
    padding: 20px;
    background-color: white;
}

.left {
    flex: 1;
    margin-left: 50px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left img {
    max-width: 100%;
    height: auto;
}

.right {
    flex: 1;
    display: flex;
    margin-left: 0px;
    margin-right: 50px;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;

}

h1 {

    text-align: center;
    font-size: 60px;
    font-weight :bolder;
    color: #03256C;
    margin-left: 60px;
    margin-bottom: 10%;

}

.box {
    height: 40%;
    width: 120%;
    max-width: 400px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    background-color: #2541B2;
    padding: 40px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
}
.box:hover{
    background-color: #0056b3;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
   
}

.input {
    margin-bottom: 30px;
}

.input label {
    display: block;
    font-weight: bold;
    font-size: medium;
    margin-bottom:5px;
    color: white;
}

.input input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input input ::placeholder {
    color: #535254;
    font-size: large;
    font-weight: bold;
}

.downBox {

    margin-left: 60px;
    text-align: center;
    margin-top: 10%;
}

.downBox p {
    margin-top: 10%;
    font-size: medium;
    font-weight: bold;
    color: #03256C;
}

.downBox a {
    color: #03256C;
    text-decoration: none;
}

.downBox a:hover {
    text-decoration: underline;
}

button {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #2541B2;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;

}

button:hover {
    background-color: #0056b3;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;

}