nz-table {
    padding: 20px;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
  
  /* General container style */
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Space between entries */
    padding: 50px;
    background-color: #06BEE1;
    /* Light blue background */
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Each entry card */
  .entry {
    background-color: #0056b3;
    /* Dark blue for each entry */
    color: white;
    padding: 15px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .entry:hover{
    background-color: #0056b3;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 10);
      transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Entry header */
  .entry-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 30px;
  }
  
  /* Entry body */
  .entry-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .status span {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  /* Status colors based on reservation status */
  .status span.rejected {
    color: #ff4d4f;
    /* Red for Rejected */
  }
  
  .status span.approved {
    color: white;
    /* White for Approved */
  }
  
  .status span.pending {
    color: #A6C938;
    /* Green for Pending */
  }
  
  /* Client name */
  .client-name {
    font-size: 18px;
    margin-right: auto;
    font-weight: bold;
  }
  
  /* Date and time */
  .date-time {
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Actions (buttons) */
  .actions {
    display: flex;
    margin-left: auto;
    gap: 10px;
  }
  
  /* Accept button */
  button[nzType="primary"] {
    background-color: #06BEE1;
    border-color: #06BEE1;
    color: wheat;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
      transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Decline button */
  button[nzDanger] {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    color: white;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 5px 6px 0px rgba(0, 0, 0, 10);
      transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Button hover effects */
  button[nzType="primary"]:hover {
    background-color: #06BEE1;
    border-color: #06BEE1;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 10);
      transition: box-shadow 0.3s ease-in-out;
  }
  
  button[nzDanger]:hover {
    background-color: #e43e3f;
    border-color: #e43e3f;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 10);
      transition: box-shadow 0.3s ease-in-out;
  }