<div class="card-container">
    <div class="card" *ngFor="let ad of ads;let i = index" [ngStyle]="{ 'background-color': getCardBackground(i) }">
        <img [src]="updateImg(ad.returnedImg)" alt="Home Coloring" class="card-image">
        <h3>{{ad.serviceName}}</h3>
        <div class="description">
            <p>{{ad.description}}</p>
        </div>
        <p class="price">Price: {{ad.price}}/-</p>

        <div class="button-container">
            <button class="request-btn" id="update"
            [ngStyle]="{ 'background-color': getUpdateButtonColor(getCardBackground(i)) }"
             nz-button nzType="primary"
                routerLink="/company/update/{{ad.id}}" >Update</button>
            <button class="request-btn" id="delete" (click)="deletedAd(ad.id)" nz-button nzType="primary">Delete</button>
        </div>
    </div>
</div>